### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

## Ignore any pdf/word files.
*.pdf
*.docx
*.txt
*.odt
*.odt#


# Ignore specific files.
Standard_shell
Find
History
PrintFile
Replace
exit
Goodbye
Logic
Math
String
Power
Solve
Sqrt
DectoBin
DectoHex
Highbit
History
delete.c
delete
delete.sh